*{
    margin: 0;
}

body{
    background: url("../images/backgrond.jpg")
    no-repeat center center;
    background-size: cover;
    height: 90vh;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    opacity: 0.5;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: #2863ab ;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.right {
    position: relative;
}

.card-login {
    width: 100%;
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px 25px;
    background: #14377c;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    text-align: center;
}

.inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.inputs > label{
    color: #ffff;
    margin-bottom: 10px;
}

.inputs > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #e9dbff;
    color: #000000de;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.btn-login{
        width: 50%;
        padding: 14px 0px;
        margin: 25px;
        border: none;
        border-radius: 8px;
        outline: none;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 3px;
        color: #201b2c;
        background: #00ff88;
        cursor: pointer;
        box-shadow: 0px 10px 40px -12px #00ff8052;
    }




